<!doctype html>
<html lang="en">
{{ partial "head" }}
<body>
    <header>
        {{ partial "_menu" }}
    </header>
    <main>
        <h1>Hello World</h1>
        <p>
            Hi, my name is Liam Power. I am an Irish software engineer working in telecoms.
            I have been programming for 10 years and have used a variety of technologies,
            including Java, C/++, modern OpenGL and PHP/JS.
        </p>
        <p>
            <a href="https://linkedin.com/in/liam-power-762686149">LinkedIn</a>
            &middot; <a href="https://gitlab.com/liamp">GitLab</a>
            &middot; <a href="mailto:liamp@protonmail.ch">Email</a>
        </p>
        <p>
            All code snippets posted on this site are dedicated to the public domain, to
            the maximum extent permissible by EU/Irish law.
        </p>
    </main>
</body>
</html>
